.teamCard{
    width: 214px;
    height: 267px;
    border-radius: 12px;
    box-shadow: 0px 0px 20px 0px #00000040;
    z-index: -1;
    position:relative;
}
.cardbox{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap:12vw;
    flex-wrap: wrap;
}
.teamm{
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    margin: 3vw;
    display: flex;
    flex-direction: column;
    gap: 70px;
    /* height: 50vw; */
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 1vw;
    padding-bottom: 3vw;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    flex-wrap: wrap;
}
.teamm p{padding-top: 1vw;font-size: 5vw;color: #094D7A;font-family: Raleway;font-weight: 600}

.nameCard{
    z-index: 100;
    position: absolute;
    bottom: 0px;
    width: 214px;
    height: 57px;
    border-radius: 12px;
    background: #183059;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.nameCard h2{
    padding-top: 7px;
    font-family: Roboto;
font-size: 18px;
/* font-weight: 700; */
/* line-height: 23px; */
/* letter-spacing: 0em; */
/* text-align: center; */
}
.nameCard h3{
    font-family: Roboto;
font-size: 14px;
font-weight: 100;
/* line-height: 15px; */
/* letter-spacing: 0em;
text-align: center; */
}

/*for hover effects*/
.cardbox h5{
    display: none;
    font-family: Roboto;
font-size: 12px;
font-weight: 400;
text-align: center;
}
.cardbox conn{
    display: none;
}
.cardbox nmc{
    transition: height 0.3s linear;
    /* transition: background-color 0.3s linear; */
}
.cardbox:hover nmc{
    height: 267px;
    background-color: rgba(84, 102, 158, 0.381);
}
.cardbox:hover h5{
    display: inline;
}
.cardbox:hover conn{
    display: flex;
    gap:5px;
}