   
 .contact-container{
    padding: 2rem;
    /* background: #F3F3F3; */
    background-color:rgb(8,77,121);
    
  }
  
  .heading{
      text-align: center;
      color: #49A3B3;
      margin-bottom: 1.1rem;
    }
  
    .heading h1{
      font-weight: 700;
      font-size: 4rem;
    }
    
    .message-content{
      width: 30%;
      margin: 0 5% 0 15%;
      justify-content: center;
    }
  
    .contact-info{
      width: 30%;
      margin: 0 15% 0 5%;
    }
  
    .contact-info h3{
      color:black;
      margin-top: 16px;
    }
  
    .contact-info p{
      color: black;
    }
    
    .contact input, .contact textarea{
      box-sizing: border-box;
      background: none;
      resize: none;
      border: 0.15rem solid #AAAAAA;
      border-radius: 0.5rem ;
      color: black;
      font-size: larger;
      outline: 0 !important;
      box-shadow: none !important;
      top: 0;
      margin-bottom: 1rem !important;
      margin-top: 1rem !important;
      padding-left: 0.3rem !important;
    }
   
    
    .contact input:focus, .contact textarea:focus{
      background: transparent;
      border: 0.2rem solid #AAAAAA;
      background-color: #F3F3F3;
      color:black;
      font-size: larger;
    }
    
    input:-webkit-autofill,
    input:-webkit-autofill:hover, 
    input:-webkit-autofill:focus, 
    input:-webkit-autofill:active{
      -webkit-box-shadow: 0 0 0 30px #F3F3F3 inset !important;
  }
  
    .contact textarea{
      height: 8rem !important;
    }
  
    .contact-btn{
      font-size: larger;
      border-radius: 25px;
      /* background-color:rgb(8,77,121); */
      background-color: #49A3B3;
      color: white;
      padding: 5px 30px 5px 30px;
      margin: 1% 5% 0 35%;
      border-color: #49A3B3;
    }
    
    input.form-control{
      margin: -0.3rem 0;
    }
    
    textarea.form-control{
      margin: -0.3rem 0;
    }
    
    .error-message{
      color: white;
      background: red;
      text-align: left;
      margin-bottom: 2rem !important;
    }
    
    .success-message{
      font-weight: 700;
      color: green;
    }
    
    .text-center{
      color: white;
    }
  
    .text-center ::placeholder{
      color:#AAAAAA;
      font-size: large;
    }
  
    .contactIcons{
      display: flex;
      flex-direction: row;
      align-items: center;
  }
  
  .icon{
      font-size: 50px;
      color: black;
      border-radius: 50%;
      background-color: white;
      margin-right: 1rem;
      padding: 5px;
  }
  
  .copyright{
    height: 5rem;
    background-color: #EDEDED;
    text-align: center;
    padding: 1.7rem;
  }
  
  @media(max-width: 768px){
    .contact{
      overflow-x: hidden;
    }
    .contact .container{
      padding: 0 1rem;
    }
    .contact p{
      padding: 0 0.4rem;
    }
    .message-content{
      width: 80%;
      margin: 0 10% 0 10%;
      justify-content: center;
    }
  
    .contact-info{
      width: 80%;
      margin: 0 10% 0 10%;
    }
  
    .heading h1{
      font-size: 3rem;
    }
  
    .contact-btn{
      margin: 1% 10% 0 30%;
    }
  
    .copyright{
      height: 7rem;
      padding: 1.3rem;
    }
  }

  .marginsend{margin-top: 3vw;}